<a id="unique_id_0" class="test" phx-click="reset" phx-hook="log">Not working link</a><br>
<a id="unique_id_3" phx-click="reset" phx-hook="log">Working link</a><br>
<br><br>
<button id="unique_id_1" class="test" phx-click="reset" phx-hook="log">Not working button</button><br>
<button id="unique_id_2" phx-click="reset" phx-hook="log">Working button</button><br>