<a id="unique_id_0" class="test" phx-click="reset" phx-hook="log">Not working link</a><br>
<a id="unique_id_1" phx-click="reset" phx-hook="log">Working link</a><br>
<br><br>
<button id="unique_id_2" class="test" phx-click="reset" phx-hook="log">Not working button</button><br>
<button id="unique_id_3" phx-click="reset" phx-hook="log">Working button</button><br>
<br><br>
<div id="unique_id_4" class="test" phx-click="reset" phx-hook="log">Not working div</div><br>
<div id="unique_id_5" phx-click="reset" phx-hook="log">Working div</div><br>